<div class="container py-6 px-24">
    <div class="mb-4 flex justify-between">
        <div class="inline-block">
            <h3 class="font-semibold text-gray-900">User Account Dashboard</h3>
            <div class="space-x-1 text-xs font-medium text-gray-400">
                <a>Details</a>
                <span> - {{ table[0].id }} </span>
            </div>
        </div>
    </div>

    <div class="md:col-span-2 xl:col-span-3">
        <div class="flex-col rounded-lg bg-white px-8 py-8 sm:flex-row">
            <div class="mb-4 flex items-center justify-between">
                <div class="flex-col items-center">
                    <h3 class="text-md font-bold text-gray-900 ">User Account - {{ table[0].id }}</h3>
                </div>
            </div>

            <hr>

            <!-- Display Applicant Info -->
            <div class="flex items-center justify-between py-4">
                <div class="flex-col items-center">
                    <h4 class="text-md font-bold text-gray-900 py-4">Account Information</h4>
                    <p class="text-md py-1">First Name: {{ table[0].firstName }}</p>
                    <p class="text-md py-1">Last Name: {{ table[0].lastName }}</p>
                    <p class="text-md py-1">Email: {{ table[0].email }}</p>
                    <p class="text-md py-1">Role: {{ table[0].role }}</p>
                    <p class="text-md py-1">Is Activated? : {{ table[0].activated }}</p>
                </div>
            </div>

            <!-- Button Deactivate -->
            <div class="flex items-center justify-end py-4">
                <div class="flex-col items-center mr-4 w-[140px]">
                    <button type="submit"
                        class="justify-center w-full h-10 inline-flex items-center bg-red-500 text-white font-semibold border-0 py-2 px-3 focus:outline-none hover:bg-red-600 rounded text-xs"
                        (click)="deactivateAccount()">
                        Deactivate Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>