<td class="py-2 pr-2">
    <div class="flex items-center">
      <div class="flex flex-col justify-items-start">
        <a href="#" class="mb-1 text-sm font-semibold text-gray-900">{{
            table.request_id
        }}</a>
      </div>
    </div>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400">{{ table.organization_name }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400">{{ table.applicant_email }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <a href="{{table.document_link}}" class="mb-1 text-sm font-semibold underline text-mineral-green-500 hover:text-mineral-green-400">Link to File</a>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400">{{ table.creation_date }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <span class="text-sm font-semibold text-gray-400">{{ table.activated }}</span>
  </td>
  <td class="py-2 pl-2 text-right">
    <div class="flex justify-end">
      <button
        [routerLink]="[table.request_id]"
        class="flex h-7 w-7 items-center justify-center rounded-md bg-gray-200 text-gray-400 hover:text-white hover:bg-mineral-green-600">
        <svg-icon src="../../../../../assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
      </button>
    </div>
  </td>

